        <div  class=" hi w-16 col-start-3 row-start-7 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);"></div>

        <div  class="hi w-16 col-start-1 row-start-6 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png); "></div>
        <div class="hi w-16 col-start-2 row-start-6 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);"></div>
        <div class="hi w-16 col-start-4 row-start-6 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);"></div>
        <div class="hi w-16 col-start-5 row-start-6 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);"></div>

        <div class="hi w-16 col-start-1 row-start-4 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);"></div>
        <div class="hi w-16 col-start-3 row-start-4 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);" ></div>
        <div class="hi w-16 col-start-5 row-start-4 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);" ></div>
            
        <div class="hi w-16 col-start-2 row-start-2 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);" ></div>
        <div class="hi w-16 col-start-3 row-start-2 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);" ></div>
        <div class="hi w-16 col-start-4 row-start-2 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);" ></div>
        <div class="hi w-full min-h-28 row-span-1 col-start-1 bg-cover" style="background-image: url(assets/images/images-removebg-preview.png);" ></div>
